.Dashboard {
    .h-40 {
        height: calc(40vh) !important;
    }
    .h-70 {
        height: calc(70vh) !important;
    }
    .h-82 {
        height: calc(82vh) !important;
    }
    .c-pointer {
        cursor: pointer !important;
    }
    .react-datepicker-wrapper {
        display: block !important;
    }
}